

body {
	font-size: 1.8em;
	background-color: lightblue;
}

.container {
	margin: 5px 50px;
	background-color: white;
	width: auto;
	padding-left: 20px;
	padding-top: 1px;
}

.courier1 {
	font-family: courier;
	font-size: 1em;
}

.italic1 {
	font-style: italic;
}

li {
	color: blue;
}

/********************************************/
.wrapper1, .wrapper2, .wrapper3 {
	display: inline-block;
	vertical-align: top;
}

.question1, .question2, .question3 {
	color: blue;
	display: inline-block;
}

.answer1, .answer2, .answer3 {
	color: green;
}

.wrapper1  .answer1, .wrapper2  .answer2, .wrapper3  .answer3 {
	position:relative;
	visibility: hidden;
}

.question1:hover + .answer1, .question2:hover + .answer2, .question3:hover + .answer3 {
	visibility: visible;
}

/********************************************/
.wrapper4, .wrapper5, .wrapper6  {
	display: inline-block;
	vertical-align: top;
}

.question4, .question5, .question6 {
	color: blue;
	display: inline-block;
}

.answer4, .answer5, .answer6 {
	color: green;
}

.wrapper4  .answer4, .wrapper5  .answer5, .wrapper6  .answer6 {
	position:relative;
	visibility: hidden;
}

.question4:hover + .answer4, .question5:hover + .answer5, .question6:hover + .answer6 {
	visibility: visible;
}

/********************************************/
.wrapper7, .wrapper8, .wrapper9  {
	display: inline-block;
	vertical-align: top;
}

.question7, .question8, .question9 {
	color: blue;
	display: inline-block;
}

.answer7, .answer8, .answer9 {
	color: green;
}

.wrapper7  .answer7, .wrapper8  .answer8, .wrapper9  .answer9 {
	position:relative;
	visibility: hidden;
}

.question7:hover + .answer7, .question8:hover + .answer8, .question9:hover + .answer9 {
	visibility: visible;
}

/********************************************/
.wrapper10, .wrapper11, .wrapper12  {
	display: inline-block;
	vertical-align: top;
}

.question10, .question11, .question12 {
	color: blue;
	display: inline-block;
}

.answer10, .answer11, .answer12 {
	color: green;
}

.wrapper10  .answer10, .wrapper11  .answer11, .wrapper12  .answer12 {
	position:relative;
	visibility: hidden;
}

.question10:hover + .answer10, .question11:hover + .answer11, .question12:hover + .answer12 {
	visibility: visible;
}

/********************************************/
.wrapper13, .wrapper14, .wrapper15  {
	display: inline-block;
	vertical-align: top;
}

.question13, .question14, .question15 {
	color: blue;
	display: inline-block;
}

.answer13, .answer14, .answer15 {
	color: green;
}

.wrapper13  .answer13, .wrapper14  .answer14, .wrapper15  .answer15 {
	position:relative;
	visibility: hidden;
}

.question13:hover + .answer13, .question14:hover + .answer14, .question15:hover + .answer15 {
	visibility: visible;
}

/********************************************/
.wrapper16, .wrapper17, .wrapper18  {
	display: inline-block;
	vertical-align: top;
}

.question16, .question17, .question18 {
	color: blue;
	display: inline-block;
}

.answer16, .answer17, .answer18 {
	color: green;
}

.wrapper16  .answer16, .wrapper17  .answer17, .wrapper18  .answer18 {
	position:relative;
	visibility: hidden;
}

.question16:hover + .answer16, .question17:hover + .answer17, .question18:hover + .answer18 {
	visibility: visible;
}



