

body {
	font-size: 1.8em;
	background-color: lightblue;
}

.container {
	margin: 5px 50px;
	background-color: white;
	width: auto;
	padding-left: 20px;
	padding-top: 1px;
}

.courier1 {
	font-family: courier;
	font-size: 1em;
}

.italic1 {
	font-style: italic;
}

li {
	color: blue;
}

/********************************************/
.wrapper1, .wrapper2, .wrapper3 {
	display: inline-block;
	vertical-align: top;
}

.question1, .question2, .question3 {
	color: blue;
	display: inline-block;
}

.answer1, .answer2, .answer3 {
	color: green;
}

.wrapper1  .answer1, .wrapper2  .answer2, .wrapper3  .answer3 {
	position:relative;
	visibility: hidden;
}

.question1:hover + .answer1, .question2:hover + .answer2, .question3:hover + .answer3 {
	visibility: visible;
}

/********************************************/
.wrapper4, .wrapper5, .wrapper6  {
	display: inline-block;
	vertical-align: top;
}

.question4, .question5, .question6 {
	color: blue;
	display: inline-block;
}

.answer4, .answer5, .answer6 {
	color: green;
}

.wrapper4  .answer4, .wrapper5  .answer5, .wrapper6  .answer6 {
	position:relative;
	visibility: hidden;
}

.question4:hover + .answer4, .question5:hover + .answer5, .question6:hover + .answer6 {
	visibility: visible;
}

/********************************************/
.wrapper7, .wrapper8, .wrapper9  {
	display: inline-block;
	vertical-align: top;
}

.question7, .question8, .question9 {
	color: blue;
	display: inline-block;
}

.answer7, .answer8, .answer9 {
	color: green;
}

.wrapper7  .answer7, .wrapper8  .answer8, .wrapper9  .answer9 {
	position:relative;
	visibility: hidden;
}

.question7:hover + .answer7, .question8:hover + .answer8, .question9:hover + .answer9 {
	visibility: visible;
}



